//API request {{apiReqNo}}
var url{{apiReqNo}} = new URL.parse('{{{url}}}');
var bodyData{{apiReqNo}} = {{{body}}};
var options{{apiReqNo}} = {
    host: url{{apiReqNo}}.host,
    method: '{{httpMethod}}',
    path: url{{apiReqNo}}.path,
    auth: {{authentication}},
    headers: {{{headerParameters}}}
};
var apiReq{{apiReqNo}} = makeAPIRequest(options{{apiReqNo}}, url{{apiReqNo}}.href, JSON.stringify(bodyData{{apiReqNo}}));
