{{resolverName}}(_, { {{arguments}} }) {

    {{{apiRequests}}}
    //resolve all API requests
    return Promise.all([{{apiRequestVars}}]).then(function(resp){

        //transform response to JSON object
        for(var r in resp)
            resp.splice(r, 1, JSON.parse(resp[r]));

        /*
        * TODO: INSERT MANUAL CODE REFINEMENT HERE
        * transform the data from the different api requests
        * and return it
        */

        console.log(resp);
        return resp;

    }).catch((err) => console.error(err));
},
