{{resolverName}}(_, { {{arguments}} }) {

    {{{apiRequest}}}

    return Promise.resolve(apiReq)
    .then(function(resp){

        /*
        * TODO: INSERT MANUAL CODE REFINEMENT HERE
        * transform the data from the api request
        * and return it
        */

    }).catch((err) => console.error(err));
},
