        {{resolverName}}(_, { {{arguments}} }) {

            //API request {{apiReqNo}}
            var url{{apiReqNo}} = new URL.parse('{{{url}}}'{{{queryParameters}}});
            var bodyData{{apiReqNo}} = {{{body}}};
            var options{{apiReqNo}} = {
                host: url{{apiReqNo}}.host,
                method: '{{httpMethod}}',
                path: url{{apiReqNo}}.path,
                auth: {{{authentication}}},
                headers: {{{headerParameters}}}
            };
            var apiReq{{apiReqNo}} = makeAPIRequest(options{{apiReqNo}}, url{{apiReqNo}}.href, JSON.stringify(bodyData{{apiReqNo}}));

            return apiReq{{apiReqNo}}
{{{otherAPIRequests}}}
                .then((resp) => {

                    //transform response to JSON object
                    var responseJSON = JSON.parse(resp);

                    /*
                    * TODO: INSERT MANUAL CODE REFINEMENT HERE
                    * transform the data from the api response
                    * and return it
                    */

                    console.log(responseJSON);
                    return responseJSON;

                }).catch((err) => console.error(err));
        },
