import { makeExecutableSchema } from 'graphql-tools';

import resolvers from './resolvers';

var schema = `{{schema}}`;

export default makeExecutableSchema({
    typeDefs: schema,
    resolvers,
});
