import { makeExecutableSchema } from 'graphql-tools';

import resolvers from './resolvers';

var schema = `
{{dataModel}}
{{queries}}

{{mutations}}
`;

export default makeExecutableSchema({
    typeDefs: schema,
    resolvers,
});
